<div class="signup-modal">
	<div class="row close-section">
		<div class="col-xs-12">
			<a role="button" class="close" ng-click="$dismiss()">
				<span class="glyphicon glyphicon-remove"></span>
			</a>	
		</div>
	</div>
	
	<form novalidate name="signup_form" role="form" ng-submit="!signup_form.email.$pending && signup_form.$valid && signupModalCtrl.signup()">
		<div class="modal-header">
			<div class="modal-title">
				Regisztráció
			</div>
		</div>
		
		<div class="modal-body">
			<div class="alert alert-danger" ng-show="signupModalCtrl.error" ng-cloak>
			    Ismeretlen hiba történt regisztráció közben. Kérlek próbáld meg később.
			</div>
			
			<div class="form-group" ng-class="{ 'has-error': (signup_form.$submitted || signup_form.email.$error.emailTaken) && signup_form.email.$invalid }" ng-cloak>
				<label for="email">E-mail cím: <span ng-show="signup_form.email.$pending"><i class="fa fa-refresh fa-spin fa-1x fa-fw"></i></span></label>
				<input required
					id="email"
					name="email"
					type="email" 
					class="form-control"
					ng-model="signupModalCtrl.credentials.email"
					ng-model-options="{ debounce: 250 }"
					ng-maxlength="254"
					ui-validate-async="{ 'emailTaken': 'signupModalCtrl.isEmailFree($value)' }") />
				<div class="text-danger error-block">
					<div ng-show="signup_form.email.$error.required">Kérlek add meg az e-mail címed!</div>
					<div ng-show="signup_form.email.$error.email">Az e-mail cím formátuma nem megfelelő!</div>
					<div ng-show="signup_form.email.$error.maxlength">Az e-mail cím legfeljebb 254 karakter hosszú lehet!</div>
					<div ng-show="signup_form.email.$error.emailTaken">A megadott e-mail cím már szerepel a rendszerben!</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': signup_form.$submitted && signup_form.password.$invalid }">
				<label for="password">Jelszó:</label>
				<input required
					id="password"
					name="password"
					type="password"
					class="form-control"
					ng-model="signupModalCtrl.credentials.password"
					ng-minlength="8"
					ng-maxlength="100" />
				<div class="text-danger error-block">
					<div ng-show="signup_form.password.$error.required">Kérlek add meg a jelszavad!</div>
					<div ng-show="signup_form.password.$error.minlength">A jelszónak minimum 8 karakter hosszúnak kell lennie!</div>
					<div ng-show="signup_form.password.$error.maxlength">A jelszó legfeljebb 100 karakter hosszú lehet!</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': signup_form.$submitted && signup_form.password_confirm.$invalid }">
				<label for="password-confirm">Jelszó megerősítése:</label>
				<input required
					id="password-confirm"
					name="password_confirm"
					type="password"
					class="form-control"
					ng-model="signupModalCtrl.credentials.password_confirm"
					ui-validate="{ 'confirmed': '$value == signupModalCtrl.credentials.password' }"
					ui-validate-watch=" 'signupModalCtrl.credentials.password' " />
				<div class="text-danger error-block">
					<div ng-show="signup_form.password_confirm.$error.required">Kérlek erősítsd meg a jelszavad!</div>
					<div ng-show="signup_form.password_confirm.$error.confirmed">A jelszavak nem egyeznek!</div>
				</div>
			</div>
		</div>
		
		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-6">
					<button type="button" class="btn btn-default btn-block" ng-click="$dismiss()">Mégsem</button>
				</div>
				<div class="col-xs-6">
					<button type="submit" class="btn btn-primary btn-block" ng-disabled="signup_form.email.$pending">Regisztráció</button>
				</div>
			</div>
		</div>
	</form>
</div>