<div class="display-issue clearfix">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="page-header">{{vm.issue.name}}</h2>
		</div>
	</div>
		
	<div class="row details">
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label>Típus:</label>
				<p class="form-control-static">{{vm.issue.type}}</p>
			</div>
			<div class="form-group">
				<label>Létrehozva:</label>
				<p class="form-control-static">{{vm.issue.creationTimeStamp | date:'yyyy. MM. dd. hh:mm'}}</p>
			</div>
			<div class="form-group">
				<label>Verzió:</label>
				<p class="form-control-static">{{vm.issue.version}}</p>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label>Felelős:</label>
				<p class="form-control-static">{{vm.issue.assigneeEmail}}</p>
			</div>
			<div class="form-group">
				<label>Státusz:</label>
				<p class="form-control-static">{{vm.issue.status}}</p>
			</div>
			<div class="form-group">
				<label>Súlyosság:</label>
				<p class="form-control-static">{{vm.issue.severity}}</p>
			</div>
			<div class="form-group">
				<label>Prioritás:</label>
				<p class="form-control-static">{{vm.issue.priority}}</p>
			</div>
		</div>
	</div>
	
	<hr>
	
	<div class="display-issue-comments" ng-show="0 < vm.issue.comment.length">
		<div class="comment" ng-repeat="comment in vm.issue.comment">
			<div class="header row">
				<span class="col-md-6"><strong>{{comment.authorEmail}}</strong> - {{comment.authorRole}}</span>
				<span class="col-md-6 text-right">{{comment.timeStamp | date:'yyyy. MM. dd. hh:mm'}}</span> 
			</div>
			<div class="content row">
				<span class="col-xs-12">{{comment.message}}</span>
			</div>
			<hr ng-show="!$last">
		</div>
	</div>
		
	<form ng-if="vm.isAuthorised('COMMENT_ISSUE')" novalidate name="form_comment" role="form" ng-submit="form_comment.$valid && vm.sendComment()">
		<div class="form-group">
			<label for="comment">Megjegyzés:</label>
			<textarea required ng-model="vm.newComment" id="comment" name="comment" rows="7" class="form-control"></textarea>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Küldés</button>
		</div>
	</form>
</div>