@errorColor: #a94442;

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}

.modal-dialog {
	.modal-content {
		.modal-header {
		    text-align: center;
		    font-weight: bold;
		    padding-top: 1rem;
		    padding-bottom: 0px;
		    margin-bottom: 2.8rem;
		    min-height: inherit;
		    
		    .modal-title {
			    text-transform: uppercase;
			    font-size: 1.6rem;
			    display: inline-block;
    			padding-bottom: 1.2rem;
		    }		
		}
	}
	
	.close-section {
		a {
		    padding-top: 20px;
		    padding-right: 15px;
		}
	}

	.login-modal {
		.button-section {
    		margin-bottom: 3rem;
		}
	}
}

form {
	.error-block {
		display: none;		
	}
	
	.has-error {
		.error-block {
			display: initial;
			color: @errorColor;
		}
	}
}
