<div class="settings-usermanagement well clearfix">
	<h3>Új felhasználó regisztrálása</h3>
	<form novalidate name="vm.modifyUserForm" role="form">
		<div class="alert alert-danger" ng-if="vm.error">
		    Ismeretlen hiba történt az adatok módosítása közben. Kérlek próbáld meg később.
		</div>
		<div class="alert alert-success" ng-if="vm.success">
			A kiválasztott felhasználó adatai sikeresen módosításra kerültek.
		</div>
		
		<div class="form-group clearfix" ng-class="{ 'has-error': (vm.modifyUserForm.$submitted || vm.modifyUserForm.email.$error.emailTaken) && vm.modifyUserForm.email.$invalid }">
			<label for="email">E-mail cím: <span ng-if="vm.modifyUserForm.email.$pending"><i class="fa fa-refresh fa-spin fa-1x fa-fw"></i></span></label>
			<input required
				name="email"
				type="email" 
				class="form-control"
				ng-model="vm.userEmail"
				ng-model-options="{ debounce: 250 }"
				ng-maxlength="254"
				ui-validate-async="{ 'emailTaken': 'vm.isEmailFree($value)' }">

			<button type="button" class="btn btn-primary pull-right btn-margin" ng-click="vm.getUserData()">Felhasználó kiválasztása</button>  			
		</div>
		
		<div class="form-group clearfix">
			<label for="project">Projektekhez való hozzárendelés:</label>
			<div class="clearfix" ng-repeat="project in vm.userProjectList">
				<span>{{project.name}}</span> <span class="glyphicon glyphicon-remove pull-right" ng-click="vm.removeUserFromProject($index)"></span>
			</div>
			<ui-select ng-model="vm.selectedProject" theme="bootstrap" title="Válassz projektet!" required>
    			<ui-select-match placeholder="Válassz ki vagy írj be egy projekt nevet!">{{$select.selected.name}}</ui-select-match>
    			<ui-select-choices repeat="project in vm.projectList | filter: $select.search">
      				<span ng-bind-html="project.name | highlight: $select.search"></span>
    			</ui-select-choices>
  			</ui-select>
			
			<button type="button" class="btn btn-primary pull-right btn-margin" ng-click="vm.addUserToProject()">Projekt felvétele</button>  			
		</div>
		
		<div class="form-group clearfix">
			<label for="role">Szerepkör:</label>
			<ui-select ng-model="vm.selectedRole" theme="bootstrap" title="Válassz szerepkört!" required>
    			<ui-select-match placeholder="Válassz ki vagy írj be egy szerepkört!">{{$select.selected.roleName}}</ui-select-match>
    			<ui-select-choices repeat="role in vm.roles | filter: $select.search">
      				<span ng-bind-html="role.roleName | highlight: $select.search"></span>
    			</ui-select-choices>
  			</ui-select>
  		</div>

		<button class="btn btn-primary pull-right" ng-disabled="vm.modifyUserForm.email.$pending" ng-click="vm.modifyUserForm.$valid && vm.onModifyUserButtonClick()">Módosítások végrehajtása</button>
	</form>
</div>