<div class="login-modal">
	<div class="row">
		<div class="col-xs-12">
			<a role="button" class="close" ng-click="$dismiss()">
				<span class="glyphicon glyphicon-remove"></span>
			</a>	
		</div>
	</div>
	<div class="alert alert-danger" ng-show="loginModalCtrl.error">
	    There was a problem logging in. Please try again.
	</div>
	<form role="form" ng-submit="loginModalCtrl.login()">
		<div class="modal-header">
			<div class="modal-title">
				Belépés
			</div>
		</div>
		<div class="modal-body">
		    <div class="form-group">
		        <label for="username">E-mail cím:</label>
		        <input type="text"
		            class="form-control" id="username" name="username" ng-model="loginModalCtrl.credentials.username"/>
		    </div>
		    <div class="form-group">
		        <label for="password">Jelszó:</label>
		        <input type="password"
		            class="form-control" id="password" name="password" ng-model="loginModalCtrl.credentials.password"/>
		    </div>
	    </div>
	    <div class="modal-footer">
		    <div class="row">
			    <div class="col-xs-6">
			    	<button type="button" class="btn btn-default btn-block" ng-click="$dismiss()">Mégsem</button>
			    </div>
			    <div class="col-xs-6">
			    	<button type="submit" class="btn btn-primary btn-block">Belépés</button>
			    </div>
		    </div>
	    </div>
	</form>
</div>